@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Lobster&display=swap");

body {
  background-image: url("./img/background.jpg");
  background-size: cover;
  padding: 0 10%;
}
img {
  max-width: 100%;
}
* {
  font-family: "Libre Baskerville", serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Lobster", cursive;
}
.container {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  color: white;
  font-size: 5rem;
  text-shadow: 5px 5px 5px black;
}
h2 {
  font-size: 2.75rem;
}

.img-wrapper {
  width: 35%;
}
.img-wrapper img {
  border-radius: 30px;
}
.card {
  background-color: white;
  padding: 6%;
  display: flex;
  justify-content: space-around;
  border-radius: 30px;
  align-items: center;
}
.user-info {
  display: flex;
  flex-direction: column;
}
.user-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.followers-container h2 {
  color: white;
  text-shadow: 5px 5px 5px black;
}
.followers-container .card {
  border-radius: 0;
}
.followers-container .card h2 {
  color: black;
  text-shadow: none;
}
